<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-1 col-lg-2"></div>
    <div class="col-sm-12 col-md-10 col-lg-8">
      <h2><%= @article.title %></h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-1 col-lg-2">
    <% if @article.image != "" %>
      <%= image_tag(@article.image, class: "img-fluid") %>
    <% end %>
    </div>
    <div class="col-sm-12 col-md-10 col-lg-8">
      <div class="text-small">Author: <span class="text-light-yellow"><%= @article.user.name %></span></div>
      <div><%= @article.text %></div>
      <div>Published <%= time_ago_in_words(@article.created_at) %> ago.</div>
    </div>
  </div>
</div>