<nav class="navbar navbar-expand navbar-expand-sm navbar-dark bg-dark">
  <div class="d-flex flex-row w-100">
    <a class="navbar-brand" href="<%= root_path %>">
      <%= image_tag("REAL-white.svg", height: "30px", width: "auto") %>
    </a>
    <div class="ml-auto my-auto" id="navbarNav">
      <ul class="navbar-nav align-items-center">
        <li class="nav-item active">
          Connect with us:
        </li>
        <li class="nav-item">
          <%= link_to "", 'https://twitter.com/Mike_DP4', class:"nav-link fa fa-twitter text-big" %>
        </li>
        <li class="nav-item">
          <%= link_to "", 'https://www.linkedin.com/in/miguel-angel-dubois/', class:"nav-link fa fa-linkedin text-big" %>
        </li>
        <li class="nav-item">
          <%= link_to "", 'https://github.com/MiguelDP4', class:"nav-link fa fa-github text-big" %>
        </li>
      </ul>
    </div>
  </div>
</nav>